@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  button {
    @apply relative;
  }

  button::before {
    @apply absolute inset-2;
  }

  ul li a {
    @apply relative inline-block px-3 py-3 no-underline;
  }

  a {
    @apply underline;
  }

  h1 {
    @apply text-6xl;
  }
  h2 {
    @apply text-4xl mb-4;
  }
  h3 {
    @apply text-3xl;
  }
  h4 {
    @apply text-2xl mb-2;
  }

  p {
    @apply pb-4;
  }
}

@layer utilities {
  .scroll-snap-none {
    scroll-snap-type: none;
  }
  .scroll-snap-x {
    scroll-snap-type: x;
  }
  .scroll-snap-y {
    scroll-snap-type: y mandatory;
  }

  .scroll-snap-align-start {
    scroll-snap-align: start;
  }

  .filter-grayscale {
    filter: grayscale(100%);
  }

  .filter-none {
    filter: none;
  }
}

.detourage {
  /* from https://bennettfeely.com/clippy/ */
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

input {
  caret-color: blue;
}
